@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$background-color: rgb(241, 243, 245);
$sidebar-color: rgb(43, 43, 43);

// TEXT
$font-stack: "Montserrat", sans-serif;

// COLORS
$primary-color: black;
$secondary-color: rgb(111, 110, 110);
$tertiary-color: rgb(179, 178, 178);
$sidebar-activecolor: rgb(235, 235, 235);
$main-activecolor: rgb(63, 55, 227);

// MIXINS
@mixin header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hleft {
        width: 50%;
        height: auto;
        font-weight: 600;
        font-size: 22px; 
    }

    .hright {
        width: 50%;
        height: auto;
        font-weight: 600;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;    

        button {
            border: none;
            background-color: transparent;

            i {
                color: $secondary-color;
            }

            span {
                scale: -.5;
            }
        }
    }
}


@mixin ticketblock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h5 {
        font-weight: 600;
        font-size: 14px; 
        color: $secondary-color;
    }

    p {
        font-weight: 600;
        font-size: 32px;
    }

    &:hover {
        color: $main-activecolor;
        border: 1px solid $main-activecolor;
        border-radius: 5px;
    }
}

@mixin leftblock {
    .heading2 {
        font-weight: 600;
        font-size: 14px;
    }

    .subheading { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        color: $tertiary-color;
        font-size: 11px;
        height: auto;
        width: 100%;
    }

    .legend {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        // position: relative;

        p {
            padding: 0 15px;
        }
    
        hr.bluebar{
            border-top: 1px solid blue;
            // position: absolute;
        }
    }
}



@mixin rightblock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-weight: 600;
    font-size: 12px; 
    color: $secondary-color;

    p {
        color: $primary-color;
        font-weight: 600;
        font-size: 22px;
        padding: 8px;
    }
}




@mixin leftblock {
    .heading2 {
        font-weight: 600;
        font-size: 14px;
    }

    .subheading { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        color: $tertiary-color;
        font-size: 11px;
        height: auto;
        width: 100%;
    }

    .legend {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        // position: relative;

        p {
            padding: 0 15px;
        }
    
        hr.bluebar{
            border-top: 1px solid blue;
            // position: absolute;
        }
    }
}



@mixin rightblock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-weight: 600;
    font-size: 12px; 
    color: $secondary-color;

    p {
        color: $primary-color;
        font-weight: 600;
        font-size: 22px;
        padding: 8px;
    }
}




// CSS
body {
    font-family: $font-stack;
    font-size: 12px;
    background-color: $background-color;
    color: $primary-color;
}

// Vertical Sidebar
.sidebar {
    background-color: $sidebar-color;
}

.dashboard {
    color: $secondary-color;
}

.sidelink {
    color: $tertiary-color;
}

// Main Content
.topheader{
    @include header;
}

.ticketbar {
    @include ticketblock;
}



.rightbar{
    @include rightblock;
}

.leftbar{
    @include leftblock;
}