@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$background-color: rgb(241, 243, 245);
$sidebar-color: rgb(43, 43, 43);

// TEXT
$font-stack: "Mulish", sans-serif;

// COLORS
$primary-color: black;
$secondary-color: rgb(111, 110, 110);
$tertiary-color: rgb(179, 178, 178);
$sidebar-activecolor: rgb(235, 235, 235);
$main-activecolor: rgb(63, 55, 227);

// MIXINS
// MAIN
@mixin head2 {
    font-weight: 600;
    font-size: 19px;
}

@mixin topsub {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin subhead { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $tertiary-color;
    font-size: 12px;
    height: auto;
    width: 100%;
}

// HEADER
@mixin header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hleft {
        width: 50%;
        height: auto;
        font-weight: 600;
        font-size: 24px; 
    }

    .hright {
        width: 50%;
        height: auto;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;    

        button {
            border: none;
            background-color: transparent;

            i {
                color: $secondary-color;
            }
        }
    }
}

// ROW OF TICKET BLOCK
@mixin ticketblock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h5 {
        font-weight: 600;
        font-size: 19px; 
        color: $secondary-color;
    }

    p {
        font-weight: 700;
        font-size: 40px;
    }

    &:hover {
        color: $main-activecolor !important;
        border: 1px solid $main-activecolor !important;
        border-radius: 5px;
    }
}

// TODAY'S TREND
@mixin leftblock {
    .legend {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        // position: relative;

        p {
            padding: 0 15px;
        }
    
        hr.bluebar{
            border-top: 1px solid blue;
            // position: absolute;
        }
    }
}

@mixin rightblock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    font-weight: 500;
    font-size: 12px; 
    color: $secondary-color;

    p {
        color: $primary-color;
        font-weight: 600;
        font-size: 24px;
        padding: 8px;
    }
}

// UNRESOLVED TICKET
@mixin unresolved {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    a {
        text-decoration: none;
    }

    #support {
        color: black;
        font-weight: 500;
    }
}

@mixin list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    font-size: 14px;
}

// CSS
body {
    font-family: $font-stack;
    font-size: 12px;
    background-color: $background-color;
    color: $primary-color;
}

// Vertical Sidebar
.sidebar {
    background-color: $sidebar-color;
}

.dashboard {
    color: $secondary-color;
}

.sidelink {
    color: $tertiary-color;
}

// Main Content
.heading2 {
    @include head2;
}

.subheading {
    @include subhead;
}

// 1ST ROW
.topheader{
    @include header;
}

// 2ND ROW
.ticketbar {
    @include ticketblock;
}

// 3RD ROW: TODAY'S TREND
.rightbar{
    @include rightblock;
}

.leftbar{
    @include leftblock;
}

// 4TH ROW: TICKETS & TASKS
.top-subheading {
    @include topsub;
}

.unresolvedbar {
    @include unresolved;
}

ul {
    @include list;
}